extends layout

block content
  body
    h1 Patron: Return Book
    form(action='/return_book/'+ loan.id, method='POST')
      p(value=loan.book_id)
        strong Book Title:
        |  #{loan.Book.title}
      p(value=loan.patron_id)
        strong  Loaned By:
        |  #{loan.Patron.first_name + ' '+ loan.Patron.last_name}
      p(value=loan.loaned_on)
        strong Loand On:
        |  #{loan.loaned_on}
      p(value=loan.return_by)
        strong Return By:
        |  #{loan.return_by}
      p(value=loan.returned_on)
        label(for="returned_on") Returned on:
        input(type='date', name="returned_on", value= datetime)
      p
        input(type='submit', value='Return Book')


